<div class="w-full container mx-auto my-20 bg-indigo-100 rounded p-5 relative">
  <h1 class="text-xl">Bienvenue {{ user.email }}</h1>
  <p>Ceci est une page d'accueil pour notre site</p>
  <hr class="bg-blue-900 h-1 w-full my-4">
  <a class="text-blue-500 px-3" href="/articles">See articles</a>
  <a class="text-blue-500 px-3" href="/gallery">See gallery</a>
  <a class="text-red-500 px-3" href="/logout">Logout</a>
</div>
